<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include head.html %>
    <title><%= title %></title>
    <link href="./css/cropper.min.css" rel="stylesheet">
    <style>
    </style>
    <script type='text/javascript' src='./libs/js/cropper.min.js'></script>
    <script type='text/javascript' src='js/userCenter.js'></script>
</head>
<body>

<% include nav.html %>
<div class='container'>
    <div class='form-horizontal'>
        <h1>个人中心</h1>
        <div class='form-group'>
            <label class='control-label col-sm-2'>头像：</label>
            <div class="col-sm-4">
                <div class="userPic-box">
                    <img src="../static/images/<%= userInfo.user_pic %>" class="user_pic" >
                    <span class="img-edit glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal"></span>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label class='control-label col-sm-2'>账号：</label>
            <div class="col-sm-4"><%= userInfo.user_name %></div>
        </div>
        <div class='form-group'>
            <label class='control-label col-sm-2'>昵称：</label>
            <div class="col-sm-4"><%= userInfo.nick_name %></div>
        </div>
        <div class='form-group'>
            <label class='control-label col-sm-2'>注册时间：</label>
            <div class="col-sm-4"><%=moment(userInfo.register_date).format('YYYY-MM-DD h:mm:ss') %></div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="z-index: 1070">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                    <div class="clearfix clip-header">
                        <label class="pull-left">选择图片：</label>
                        <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                            <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                            <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
                                        <span class="glyphicon glyphicon-cloud-upload"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="img-cropperBox">
                        <div class="cropper-left">
                            <div class="img-container">
                                <img src="../static/images/<%= userInfo.user_pic %>" alt="Picture">
                            </div>
                        </div>
                        <div class="cropper-right">
                            <div class="docs-preview clearfix">
                                <div class="img-preview preview-lg"></div>
                                <div class="img-preview preview-md"></div>
                                <div class="img-preview preview-sm"></div>
                                <div class="img-preview preview-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="clipBtn">截取并上传</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>